body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
}

.weatherapp-grid {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 80%;
  width: 60%;
}

.gridrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gridrow.searchweather {
  height: 10%;
  background-color: rgba(0, 0, 0, .3);
}

.input-form {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.user-input {
  position: relative;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 25%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  padding: 0;
  outline: 0;
  text-align: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
}

.gridrow.dailyweather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  background: linear-gradient(rgba(128, 128, 128, .75), rgba(0, 255, 255, .75));
}

.city-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 25px;
}

.day-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 15px;
}

.weather-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 35px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 120px;
  overflow: hidden;
}

.gridrow.footer {
  height: 10%;
  border-bottom: 0;
  background-color: rgba(255, 255, 255, .3)
}
